on:
  workflow_dispatch:
    inputs:
      environment:
        description: "The environment"
        required: true
        default: "production"
        type: choice
        options:
          - production
          - development
          - staging

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: "Prod Test"
        if: ${{ github.event.inputs.environment == 'production'}}
        run: echo Deploying to production!

      - name: "Not Prod Test"
        if: ${{ github.event.inputs.environment != 'production'}}
        run: echo Running in test mode
      - name: "Environment Logging"
        run: echo ${{ github.event.inputs.environment }}
    
